/* ******************************General**************************************************** */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

/* ***********************************En-tête********************************************************* */

header{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 4;
    
}

a
{
    text-decoration:none;
    color: white;

}
h1
{
    font-size: 20px;
}
a:visited{
    color: beige;
}
.first-section{
	display: flex;
    flex-direction: column;
    background-image:  url("img/h5-revolution-img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center; 
    height: 100vh; 
    justify-content: space-between;
   
  
   
   
    

}
.logo{
    display: flex;
    z-index: 2;
    width: 100%;
    
    
}
.logo>img{
    margin: auto;
    width: 30%;
    padding-top: 2em;
    padding-bottom: 2em;
}

blockquote{
    background-color: rgb(197, 157, 95);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f1f0f0;
    padding: 1em;
    
}

.second-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.second-section>article{
    flex-grow: 4;
    align-self: self-start;
}
.second-section>article>h2{
 padding: 1em;
 text-align: center;

}

.second-section>article>h3{
 text-align: center;

}
.second-section>article>p{
 padding: 1em;
 text-align: center;
}

/* .flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    
} */


 .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  
 


nav li{
    display: inline;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}
nav a:hover {
    color: rgb(175, 175, 175);

}



.menu > h1 {
  
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.liste {
  
  

  font-size: 30px;
}

.flex-container > div {
  
  margin: 0;
  padding: 0;
  font-size: 30px;
}



.white{
    color: white;
}
#parallax>figure>img{
    width:100%;
}
